COMPOSE_FILE=docker-compose.yml:docker-compose.prod.yml
COMPOSE_PROFILES=prod

# The project name must be unique in your docker environment!
COMPOSE_PROJECT_NAME=myproject

# Project path relative to this docker directory, or an absolute path.
# Sibling project: ../src | docker inside project: .. | absolute: /srv/my-project
APP_PATH=../src

# Domen
APP_URL=myproject.com

# PHP
# can be nginx/apache
PHP_WEBSERVER=nginx
PHP_VERSION=8.2

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword
MYSQL_ROOT_PASSWORD=dbrootpassword

# Traefik
TRAEFIK_DOMAIN_EMAIL=admin@yourdomain.com

# Access to Traefik dashboard
# generate: htpasswd -nbB user yourpassword
TRAEFIK_AUTH=user:hashedpassword

# Access to phpmyadmin
# generate: htpasswd -nbB user yourpassword
TRAEFIK_AUTH_PMA=user:hashedpassword

# if not specified, the service will be available from all addresses
#ALLOWED_IP_PMA=

# By default root dir /var/www/html
# For Laravel sould be /var/www/html/public
# APP_WEBROOT=/var/www/html/public

