COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
COMPOSE_PROFILES=dev

# The project name must be unique in your docker environment!
COMPOSE_PROJECT_NAME=myproject

# Path from docker folder to project root
APP_PATH=../src

# Домен сайта
APP_URL=myproject.local

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword
MYSQL_ROOT_PASSWORD=dbrootpassword

PMA_PORT=8081
PHP_PORT=81

