COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
COMPOSE_PROFILES=dev

# The project name must be unique in your docker environment!
COMPOSE_PROJECT_NAME=myproject

# Project path relative to this docker directory, or an absolute path.
# Sibling project: ../src | docker inside project: .. | absolute: /srv/my-project
APP_PATH=../src

# Domen must be .localhost
APP_URL=myproject.localhost

# PHP
# can be nginx/apache
PHP_WEBSERVER=nginx
PHP_VERSION=8.2
PHP_PORT=81

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword
MYSQL_ROOT_PASSWORD=dbrootpassword

#phpmyadmin
PMA_PORT=8080

# for downloading db/files from remote host
#SSH=root@123.456.78.90
#SSH_APP_PATH=/var/www/my-project
#SSH_DB_USER=dbuser
#SSH_DB_NAME=dbpassword


# By default root dir /var/www/html
# For Laravel sould be /var/www/html/public
# APP_WEBROOT=/var/www/html/public