COMPOSE_FILE=docker-compose.yml:docker-compose.dev.yml
COMPOSE_PROFILES=dev

# The project name must be unique in your docker environment!
COMPOSE_PROJECT_NAME=myproject

# The name of the directory in which your project is located. Examples: site.com|src
# Always should abe next to docker dir directory!
APP_DIR=src

# Domen must be .localhost
APP_URL=myproject.localhost

# PHP
# can be nginx/apache
PHP_WEBSERVER=apache
PHP_VERSION=7.4
PHP_PORT=81

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=dbuser
DB_PASSWORD=dbpassword
MYSQL_ROOT_PASSWORD=dbrootpassword

#phpmyadmin
PMA_PORT=8080

# for downloading db/files from remote host
#SSH=root@123.456.78.90
#SSH_DB_USER=dbuser
#SSH_DB_NAME=dbpassword


# By default root dir /var/www/html
# For Laravel sould be /var/www/html/public
# APP_WEBROOT=/var/www/html/public